* body {
    background-color: rgb(69, 1, 147);
}

/*
p {
    font-size: 20px;
    line-height: 30px;
    display: block;
    margin-inline-start: 4px;
}*/

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 50;
    user-select: none;
    padding-bottom: 1px;
}

#images-container {
    /*to distrube the content inside the fbox equaly, I wrote the first two lines of code*/
    display: flex;
    justify-content: space-between;
    width: 876px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 70px;
}

.image {
    /*resizing pictures so all are the same size*/
    width: 210px;
    height: 210px;
    /*preventing images from stretching*/
    object-fit: cover;
    border-radius: 10px;
    transition: filter .3s ease-in-out;
    filter: grayscale(100%);
}

.image:hover {
    will-change: transform;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(1.03);
    transition: all 0.2s;
    box-shadow: -4px -4px 30px 0 rgb(206 163 255 / 62%);
}

.activeimage {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    box-shadow: -4px -4px 30px 0 rgb(206 163 255 / 62%);
    transform: scale(1.03);
    transition: all 0.2s;
}

/*
#song-info-container {
    width: 876px;
    height: 70px;
    background-color:  rgb(237, 158, 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 0px 0px;

}*/

#container {
    width: 876px;
    height: 50px;
    background-color: rgb(237, 158, 255);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 12px 20px 0 rgba(206, 163, 255, 0.616);
}

#volume-bar-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 240px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(241 182 255);
}

#volume-slider {
    width: 180px;
    height: 10px;
}

#play-pause-button {
    width: 20px;
    height: 23px;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 10px;
}

#audio-on-button {
    width: 20px;
    height: 20px;
    opacity: 70%;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 10px;
}

#current-time {
    width: 45px;
    padding-left: 5px;
}

#total-time {
    width: 45px;
    padding-right: 120px;
    padding-left: 15px;
}

#scroll-bar {
    width: 340px;
    cursor: pointer;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 10px;
        -webkit-appearance: none;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }


    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        cursor: pointer;
        background: rgb(77, 77, 77);
        border-radius: 100%;
        box-shadow: -305px 0px 0 300px rgb(6, 255, 255);
    }

}